<h2 class="mat-h2" mat-dialog-title>Login</h2>
<mat-dialog-content class="flex-column" style="display: flex; width: 24rem">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 0.5rem;">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (form.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
      @if (form.get('email')?.hasError('email')) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <div class="flex flex-gap-1 padding-top-1">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid && !form.untouched">
        Login
      </button>
    </div>
  </form>
</mat-dialog-content>
