<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="ev-dialog-narrow">
  <form class="ev-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (form.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
      @if (form.get('email')?.hasError('email')) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <div class="ev-form-actions">
      <button mat-flat-button type="submit" [disabled]="form.invalid && !form.untouched">
        Login
      </button>
    </div>
  </form>
</mat-dialog-content>
