<div class="rows">
  @for (_ of dailyExpenses().controls; track $index) {
    <div [formGroup]="getGroup($index)" class="row">
      <mat-form-field class="day">
        <mat-label>Day of month</mat-label>
        <input matInput class="ev-num" type="number" formControlName="dayOfMonth" min="1" max="31">
      </mat-form-field>

      <mat-form-field class="amount">
        <mat-label>Amount</mat-label>
        <input matInput class="ev-num" type="number" formControlName="amount">
      </mat-form-field>

      <mat-form-field class="comment">
        <mat-label>Comment</mat-label>
        <input matInput type="text" formControlName="comment">
      </mat-form-field>

      <button mat-icon-button type="button" class="remove" (click)="removeDailyExpense($index)" aria-label="Remove one-off expense">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  }
</div>

<button mat-stroked-button type="button" (click)="addDailyExpense()">
  <mat-icon>add</mat-icon>
  Add one-off expense
</button>
