<div class="expenses-inline-list">
  @if (!currentExpenses()?.expenses) {
    <div class="padding-top-1">
      <app-loading
        [loadingOptions]="{ isLoading: true, message: '' }"
        mode="skeleton"
        [skeletonBody]="skeleton"
      />
    </div>
  } @else {
    <div class="padding-bottom-2 flex-space-between">
      <mat-slide-toggle
        [checked]="showPrevious()"
        (change)="showPrevious.set($event.checked)"
      >Show previous days
      </mat-slide-toggle>

      <app-actualize-expenses-button/>
    </div>
    @for (expense of currentExpensesPrepared(); track $index) {
      <div class="expense-item"
           (click)="startEditing(expense)"
           [class.weekend]="expense.isWeekend"
           [class.previous-day]="expense.isPreviousDay">
        <div class="flex-column">
          <div class="date-separator">
            <h5>{{ expense.dateFormatted }}</h5>
          </div>

          <div class="flex">
            <div class="flex-1">
              <label>Actual</label>
              <div class="flex-column flex-gap-0-5" style="padding-top: 0.5rem">
                <div>
                  <h5 class="line-height-1">Spent</h5>
                  <span
                    [class.less-expected]="expense.actualExpenseAmount < expense.expectedExpenseAmount"
                    [class.above-expected]="expense.actualExpenseAmount > expense.expectedExpenseAmount">
                    {{ expense.actualExpenseAmount | expenseSign | number:'1.2-2' }}
                  </span>
                    @if (expense.actualDailyComment) {
                      <span class="comment">
                      ({{ (expense.actualExpenseAmount - expense.weeklyExpenseAmount) + ' ' + expense.actualDailyComment }}
                        )
                    </span>
                    }
                </div>
                <div>
                  <h5 class="line-height-1">Left</h5>
                  <span>{{ expense.actualAmountLeft | number:'1.2-2' }}</span>
                </div>
              </div>
            </div>
            <div class="flex-1" style="border-left: 1px solid #ccc; padding-left: 1rem">
              <label>Expected</label>
              <div class="flex-column flex-gap-0-5" style="padding-top: 0.5rem">
                <div>
                  <h5 class="line-height-1">Spent</h5>
                  <span>{{ expense.expectedExpenseAmount | expenseSign | number:'1.2-2' }}</span>
                  @if (expense.expectedDailyComment) {
                    <span class="comment">
                    ({{ (expense.expectedExpenseAmount - expense.weeklyExpenseAmount) + ' ' + expense.expectedDailyComment }}
                      )
                  </span>
                  }
                </div>

                <div>
                  <h5 class="line-height-1">Left</h5>
                  <span>{{ expense.expectedAmountLeft | number:'1.2-2' }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
