:host {
  width: 100%;
}

.final-results {
  border-top: 1px solid #ccc;
  display: block;
}

.expenses-inline-list {
  margin-bottom: 2rem;

  .expense-item {
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    position: relative;
    border-top: 1px solid #ccc;

    .date-separator {
      background-color: white;
      position: absolute;
      top: -10px;
      left: 12px;
      border: 1px solid #ccc;
      padding: 0 0.5rem;
      border-radius: 1rem;
    }

    .comment {
      font-style: italic;
    }

    &.weekend {
      .date-separator {
        color: white;
        background-color: var(--mat-sys-primary);
      }
    }

    &.previous-day {
      color: #989898;
    }

    .less-expected {
      color: darkolivegreen;
    }

    .above-expected {
      color: indianred;
    }
  }
}
