<h2 class="mat-h2" mat-dialog-title>Change password</h2>
<mat-dialog-content class="flex-column flex">
  <form [formGroup]="form" (ngSubmit)="onChangePassword()">
    <mat-form-field class="margin-top-1" appearance="outline" style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      @if (form.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
      }
      @if (form.get('password')?.hasError('minlength')) {
        <mat-error>Password must be at least 6 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="margin-bottom-2" appearance="outline" style="width: 100%;">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      @if (form.get('confirmPassword')?.hasError('required')) {
        <mat-error>Confirm password is required</mat-error>
      }
      @if (form.hasError('passwordsMismatch') && form.get('confirmPassword')?.touched) {
        <mat-error>Confirm password must be the same as password</mat-error>
      }
    </mat-form-field>

    <div class="flex flex-gap-1">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid && !form.untouched">
        Change password
      </button>
      <button mat-stroked-button type="button" (click)="backToUserProfile()">Back to user profile</button>
    </div>
  </form>
</mat-dialog-content>