.flex {
  display: flex;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &-center {
    display: flex;
    align-items: center;
  }

  &-align-items-center {
    display: flex;
    align-items: center;
  }

  &-space-between {
    display: flex;
    justify-content: space-between;
  }

  &-end {
    display: flex;
    justify-content: flex-end;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-gap-0-5 { gap: 0.5rem; }

  @for $i from 1 through 12 {
    &-#{$i} { flex: #{$i} }
    &-gap-#{$i} { gap: #{$i}rem; }
  }
}

.line-height {
  &-1 { line-height: 1 !important; }
}

.grid {
  @for $i from 1 through 12 {
    &-template-columns-#{$i} {
      display: grid;
      grid-template-columns: repeat(#{$i}, 1fr);
      gap: 1rem;
    }
  }
}

.height {
  &-full { height: 100%; }
  &-0 { height: 0; }
}

.width {
  &-full { width: 100%; }
}

.page {
  &-narrow {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

@for $i from 1 through 12 {
  .padding-top-#{$i} { padding-top: #{$i}rem; }
  .padding-bottom-#{$i} { padding-bottom: #{$i}rem; }
  .padding-x-#{$i} { padding-left: #{$i}rem; padding-right: #{$i}rem; }
  .padding-y-#{$i} { padding-top: #{$i}rem; padding-bottom: #{$i}rem;  }
  .padding-#{$i} { padding: #{$i}rem; }

  .margin-top-#{$i} { margin-top: #{$i}rem; }
  .margin-bottom-#{$i} { margin-bottom: #{$i}rem; }
  .margin-x-#{$i} { margin-left: #{$i}rem; margin-right: #{$i}rem; }
  .margin-y-#{$i} { margin-top: #{$i}rem; margin-bottom: #{$i}rem;  }
  .margin-#{$i} { margin: #{$i}rem; }
}

.scrollable-content {
  overflow-y: auto;
}