@use '@angular/material' as mat;

:root {
  --mat-sys-primary: #213448;
  --mat-sys-primary-container: #c3d6e0;
  // --mat-sys-primary-container: #EBFFD8; // Light Cyan
  // --mat-sys-variant-container: #EBFFD8; 

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-primary),
  ));

  @include mat.table-overrides((
    row-item-container-height: 24px,
  ));

  @include mat.button-overrides((
    filled-container-height: 32px,
    outlined-container-height: 32px,
    text-container-height: 32px
  ));

  @include mat.button-toggle-overrides((
    height: 24px
  ));

  @include mat.theme((
    typography: Roboto,
    density: -3,
  ));

  @include  mat.all-component-typographies();

  @include mat.card-overrides((
    outlined-container-color: var(--mat-sys-variant-container),
    title-text-font: var(--mat-sys-title-small-font),
  ));
}

.mat-mdc-card {
  .mat-mdc-card-content {
    padding: 0;
  }

  &.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .mat-mdc-card-content {
      overflow-y: auto;
    }
  }
}

//.mat-mdc-form-field-infix {
//  width: auto !important;
//  min-width: 90px !important;
//}
