@use '@angular/material' as mat;

:root {
  --mat-sys-primary: #213448;
  --mat-sys-primary-container: #c3d6e0;
  --mat-toolbar-mobile-height: 48px;
  --mdc-outlined-card-container-color: transparent;

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-primary),
    mobile-height: 52px,
  ));

  @include mat.table-overrides((
    row-item-container-height: 24px,
  ));

  @include mat.button-overrides((
    filled-container-height: 32px,
    outlined-container-height: 32px,
    text-container-height: 32px
  ));

  @include mat.button-toggle-overrides((
    height: 24px
  ));

  @include mat.theme((
    typography: Roboto,
    density: -3
  ));

  @include  mat.all-component-typographies();

  @include mat.card-overrides((
    title-text-font: var(--mat-sys-title-small-font),
  ));

  @include mat.table-overrides((
    background-color: transparent,
    row-item-outline-color: #D0D0D0,
  ));
}

.mat-mdc-card {
  .mat-mdc-card-content {
    padding: 0;
  }

  &.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .mat-mdc-card-content {
      overflow-y: auto;
    }
  }
}
