<h2 mat-dialog-title>{{ isEdit() ? 'Edit Saving' : 'Add Saving' }}</h2>
<mat-dialog-content class="flex-column" style="display: flex; padding-top: 0.5rem">
  <mat-form-field appearance="outline" style="margin-top: 1rem">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" (keydown.enter)="onSave()" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Currency</mat-label>
    <input matInput [(ngModel)]="currency" placeholder="USD" (keydown.enter)="onSave()" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="flex-space-between width-full">
    <div>
      @if (isEdit()) {
        <button mat-button color="warn" (click)="onDelete()">Delete</button>
      }
    </div>
    <div>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-flat-button [disabled]="!isValid()" (click)="onSave()">Save</button>
    </div>
  </div>
</mat-dialog-actions>
