<h2 mat-dialog-title>{{ isEdit() ? 'Edit saving' : 'Add saving' }}</h2>
<mat-dialog-content>
  <div class="ev-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" (keydown.enter)="onSave()" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <input matInput [(ngModel)]="currency" placeholder="USD" [matAutocomplete]="currencies.panel()" (keydown.enter)="onSave()" />
    </mat-form-field>
    <ev-currency-autocomplete #currencies />
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="ev-form-actions dialog-actions">
    <div>
      @if (isEdit()) {
        <button mat-button (click)="onDelete()">Delete</button>
      }
    </div>
    <div class="ev-form-actions">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-flat-button [disabled]="!isValid()" (click)="onSave()">Save</button>
    </div>
  </div>
</mat-dialog-actions>
