<h2 class="mat-h2" mat-dialog-title>Actualize expenses</h2>
<mat-dialog-content class="flex-column">
  @if (loadingSrv.loadingOptions().isLoading) {
    <app-loading
      [loadingOptions]="loadingSrv.loadingOptions()"
      [mode]="'spinner'"
    />
  } @else {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="min-width: 300px">
      <div formArrayName="money" class="flex-column flex-gap-1">
        @if (form.controls.money.controls.length === 0) {
          <p>Provide list of your current money amount to simply actualize expenses</p>
        }

        @for (expense of form.controls.money.controls; track $index) {
          <div [formGroupName]="$index" class="flex flex-gap-1 padding-top-1 flex-wrap">
            <mat-form-field appearance="outline" class="flex-1" style="min-width: 100px">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 110px">
              <mat-label>Amount</mat-label>
              <input matInput step="10" type="number" formControlName="amount">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 110px">
              <mat-label>Currency</mat-label>
              <input matInput type="text" formControlName="currency">
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="removeMoneyPart($index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
        <div>
          <button mat-button type="button" (click)="addMoneyPart()">Add more</button>
        </div>
      </div>

      <div class="flex-end">
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      </div>
    </form>
  }
</mat-dialog-content>
