<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="ev-dialog-narrow">
  <form class="ev-form" [formGroup]="loginForm" (ngSubmit)="onRegister()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
      @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      @if (loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
      }
      @if (loginForm.get('password')?.hasError('minlength')) {
        <mat-error>Password must be at least 6 characters</mat-error>
      }
    </mat-form-field>

<!--    <mat-form-field>-->
<!--      <mat-label>First name</mat-label>-->
<!--      <input matInput formControlName="firstName" />-->
<!--      @if (loginForm.get('firstName')?.hasError('required')) {-->
<!--        <mat-error>First name is required</mat-error>-->
<!--      }-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Last name</mat-label>-->
<!--      <input matInput formControlName="lastName" />-->
<!--      @if (loginForm.get('lastName')?.hasError('required')) {-->
<!--        <mat-error>Last name is required</mat-error>-->
<!--      }-->
<!--    </mat-form-field>-->

    <div class="ev-form-actions">
      <button mat-flat-button type="submit" [disabled]="loginForm.invalid && !loginForm.untouched">
        Login
      </button>
      <button mat-stroked-button type="button" (click)="backToLogin()">Back to login</button>
    </div>
  </form>
</mat-dialog-content>
