<div class="app-layout" [class.dark]="themeService.isDark()">
  @if (loading.loadingOptions().isLoading) {
    <div class="flex-center flex-column" style="width: 100vw; height: 100vh; justify-content: center">
      <img src="images/logo_new.png" alt="App Logo" height="120">
      <h1 class="app-title"><span class="expense">Expense</span> <span class="vanga">Vanga</span></h1>
    </div>
  } @else {
    <app-header/>
    <div class="page-content">
      <div class="page-content-inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  }
</div>
