.active-button {
  background:
    color-mix(in srgb, var(--mat-sys-primary) 5%, transparent);
}

.pages-list.desktop {
  display: none;
}

.pages-list.mobile {
  display: flex;
}

@media (min-width: 501px) {
  .pages-list.desktop {
    display: flex; // Visible on screens larger than 400px
  }

  .pages-list.mobile {
    display: none; // Hidden on screens larger than 400px
  }
}
