<mat-toolbar>
  <div class="flex-center width-full" style="justify-content: space-between">
    <div class="flex-center flex-gap-0-5">
      <img src="images/logo_new.png" alt="App Logo" height="40" width="40">

      <div class="pages-list desktop padding-x-1">
        @for(page of pages; track $index) {
          <a routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }" mat-button routerLink='{{page.url}}'>{{page.name}}</a>
        }
      </div>

      <div class="pages-list mobile">
        <button mat-button [matMenuTriggerFor]="menu">{{currentPageName()}}</button>
        <mat-menu #menu="matMenu">
          @for(page of pages; track $index) {
            <div>
              <a mat-button routerLink='{{page.url}}'>{{page.name}}</a>
            </div>
          }
        </mat-menu>
      </div>
    </div>
    <div class="flex-center flex-gap-1">
      <button mat-icon-button (click)="themeService.toggle()">
        <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      <app-user-profile />
    </div>
  </div>

</mat-toolbar>
