<main class="home-page">
  @if (isMobile()) {
    <app-expenses-inline-list />
  } @else {
    <mat-card appearance="outlined" class="padding-x-1 list-view-card">
      <mat-card-content style="height: 100%; box-sizing: border-box;">
        @switch (viewMode()) {
          @case ('calendar') { <app-expenses-calendar [viewMode]="viewMode()" (viewModeChanged)="changeViewMode($event)" /> }
          @default { <app-expenses-list [viewMode]="viewMode()" (viewModeChanged)="changeViewMode($event)" /> }
        }
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined" class="padding-x-1 chart-view-card">
      <mat-card-title class="padding-top-1">Analytics</mat-card-title>
      <mat-card-content>
        <app-expenses-chart />
      </mat-card-content>
    </mat-card>
  }
</main>
