.home-page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 1rem;
  $min-card-width: 380px;

  .list-view-card {
    height: 100%;
    overflow-y: auto;
    max-width: 800px;
    min-width: $min-card-width
  }

  .chart-view-card {
    flex: 1;
    min-width: $min-card-width
  }
}
