<div class="current-expenses-list height-full flex-column">
  <app-expenses-details-header [viewMode]="viewMode()" (viewModeChanged)="viewModeChanged.emit($event)">
    <mat-slide-toggle [checked]="showPrevious()" (change)="showPrevious.set($event.checked)">
      Previous days
    </mat-slide-toggle>
  </app-expenses-details-header>
  <div class="list height-0 flex-1 scrollable-content margin-top-1">
    @if (!currentExpenses()?.expenses) {
    <div class="padding-top-1">
      <app-loading [loadingOptions]="{ isLoading: true, message: '' }" mode="skeleton" [skeletonBody]="skeleton" />
    </div>
    } @else {
    <table mat-table [dataSource]="currentExpensesPrepared()" class="mat-elevation-z8">
      <ng-container matColumnDef="dateFormatted">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let element">
          <div class="date-cell">
            <span>{{ element.dateFormatted }}</span>
            <span class="day-of-week">{{ element.dayOfWeekFormatted }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expected">
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-header">
            <span>Expected</span>
            <div class="subheader-row">
              <span>Left</span>
              <span>Spent</span>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="amount-cell">
            <div class="amount-row">
              <span class="left-amount">{{ element.expectedAmountLeft | number : "1.2-2" }}</span>
              <span class="spent-amount">{{ element.expectedExpenseAmount | expenseSign | number : "1.2-2" }}</span>
            </div>
            @if (element.expectedDailyComment) {
            <div class="comment">
              {{ element.expectedExpenseAmount - element.weeklyExpenseAmount + " " + element.expectedDailyComment }}
            </div>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actual">
        <th mat-header-cell *matHeaderCellDef>
          <div class="column-header">
            <span>Actual</span>
            <div class="subheader-row">
              <span>Left</span>
              <span>Spent</span>
            </div>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let element; let idx"
          [tabindex]="idx"
          (click)="startEditing(element)"
          (keydown.enter)="startEditing(element)"
        >
          <div class="amount-cell">
            <div class="amount-row">
              <span class="left-amount">{{ element.actualAmountLeft | number : "1.2-2" }}</span>
              <span
                class="spent-amount"
                [class.less-expected]="element.actualExpenseAmount < element.expectedExpenseAmount"
                [class.above-expected]="element.actualExpenseAmount > element.expectedExpenseAmount"
              >
                {{ element.actualExpenseAmount | expenseSign | number : "1.2-2" }}
              </span>
            </div>
            @if (element.actualDailyComment) {
            <div class="comment">
              {{ element.actualExpenseAmount - element.weeklyExpenseAmount + " " + element.actualDailyComment }}
            </div>
            }
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        class="expense-row"
        [class.today]="row.isToday"
        [class.weekend]="row.isWeekend"
        [class.previous-day]="row.isPreviousDay"
        [class.affected]="row.date === affectedExpenseDate()"
      ></tr>
    </table>
    }
  </div>
</div>
