.current-expenses-list {
  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 4px;
    line-height: 1.1;
  }

  .mat-column-dateFormatted {
    width: 110px;
    min-width: 110px;
  }

  .mat-column-expectedExpenseAmount, .mat-column-actualExpenseAmount {
    width: 160px;
  }

  .expense-row {
    transition: background-color 0.3s ease;

    .comment {
      font-style: italic;
    }

    &.affected {
      background-color: #ECECEC;
    }

    .mat-column-actualExpenseAmount {
      cursor: text;
      &:hover {
        background-color: #ECECEC;
      }

      &:focus {
        outline: none;
        background-color: #ECECEC;
      }

      .actual-expense-cell {
        display: flex;
        align-items: center;
        gap: 4px;

        .less-expected {
          color: darkolivegreen;
        }

        .above-expected {
          color: indianred;
        }

        .edit-button {
          display: none;

          .edit-icon {
            font-size: 1rem;
          }
        }
        &:hover {
          @media only screen and (max-width: 600px) {
            .edit-button { display: unset; }
          }
        }
      }
    }

    &.weekend {
      background-color: color-mix(in srgb, var(--mat-sys-primary) 5%, white);
    }

    &.previous-day {
      color: #989898;
    }
  }
}
